* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  height: 80px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 100%;
}
.navigation-items a:hover {
  color: #ef4657;
}
.navigation-items a {
  text-decoration: none;
  color: black;
}
.active {
  color: #ef4657;
}
.hamburger {
  position: fixed;
  right: 10%;
  top: 2px;
  display: none;
  border: 1px solid #ef4657;
  padding: 5px;
}
.hamburger div {
  margin: 5px 0px;
  height: 2px;
  width: 20px;
  background: black;
}


@media screen and (max-width:  991px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 30px;
  }
  .menu {
    display: none;
  }

  .navigation-items {
    display: flex;
    flex-direction: column;
    background:rgba(128, 128, 128, 0.034);
    line-height: 50px;
  }
  .header-nav {
    display: contents;
    
  }
}
